<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link th:href="@{/css/login_page.css}" th:rel="stylesheet" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">

</head>
<body>

  <div class="wrapper">

    <div class="form_content">

      <!--Tabs Titles-->
      <a th:href="@{/auth/login}">
        <h2 class="active">SIGN IN</h2>
      </a>

      <a th:href="@{/auth/registration}">
        <h2>SIGN UP</h2>
      </a>

      <form class="login_form" th:action="@{/perform/login}" method="post">
        <div th:if="${param.error}">
          <span>Invalid username or password!</span>
        </div>
        <input name="username" type="text" placeholder="username" required="required">
        <input name="password" type="password" placeholder="password" required="required">
        <button class="login_btn" type="submit">SIGN IN</button>
      </form>

    </div>

  </div>
  
</body>
</html>